Package: docker-volume-netshare
Priority: extra
Maintainer: Jeremy Unruh (https://github.com/gondor) <example@example.org>
Section: devel
Version: 0.33-dgx-1
Architecture: amd64
Description: Docker Volume Plugin - Netshare

